body{
    background: #f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

#tittle, .subtittle, .post_tittle{
    color: #505050;
}

#tittle{
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050;
}

.avatar{
    border-radius: 50px;
    border: 2px solid #505050;
}

.post_tittle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    border-radius: 5px;
    margin-bottom: 15px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image{
    margin-bottom: 15px;
    height: 100%;
    width: 100%;;
}

.contact_list{
    list-style-type: none; 
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.contact_list li a{
    text-decoration: none;
}